/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */


.container{
    margin-top: 100px;
    margin-bottom: 200px;
}

 .ngx-pagination {
    padding-left: 0px !important;
  }
  
  .ngx-pagination .current,
  .btn-info {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 20px !important;
  }
  
  .ngx-pagination .current:hover {
    background: #17a2b8 !important;
    border-radius: 20px !important; 
    border: transparent !important;
  } 
 